/*IMPOSTAZIONI GENERALI/*/
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #393d41;
    font-size: 1.2rem;
    box-sizing: border-box;
    line-height: 1.65;
    margin: 0;
} 

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    line-height: 1.1;
}

h1 {
    font-size: 2.4em;
    margin-top: 0;
}

/*HEADER/*/
header {
    background-color: black;
    padding: 40px;
    
}

/*MAIN/*/
#sezioneuno {
    padding: 60px;
background-image: url(../image/banner.jpg);
background-size: cover;
}
