/*IMPOSTAZIONI GENERALI/*/
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #393d41;
    font-size: 1.2rem;
    box-sizing: border-box;
    line-height: 1.65;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    line-height: 1.1;
}

h1 {
    font-size: 2.4em;
    margin-top: 0;
}

/*HEADER/*/
header {
    background-color: black;
    padding: 40px;

}

/*MAIN/*/
/*PRIMA SEZIONE/*/
#sezioneuno {
    padding: 60px;
    background-image: url(../image/banner.jpg);
    background-size: cover;
}

.button {
    padding: 20px 40px 20px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: #f04c2f;
}

/*SECONDA SEZIONE/*/
/*PRIMO ARTICLE/*/
.cercheranno {

    margin: 10%;
}

.dovevuoi {

    margin: 10%;
}

.imgtonda {
    width: 75%;
    border-radius: 50%;
}

.ruolo {

    margin: 10%;
}

.lavoro {
    padding-bottom: 5%;
    margin: 10%;
}

/*SECONDO ARTICLE/*/
.quote {
    padding: 10%;
    color: white;
    background-color: #e22d0e;
}

.quote h2 {
    font-size: 2em;
    color: white;
}

blockquote {
    font-style: italic;
}

.author {
    font-size: 1.4em;
}

cite {
    font-style: normal;
}

.schede {

    height: 450px;
    border: 2px solid #dee1e3;
    margin: 8%;
    border-radius: 5px;
}

#sezionedue {
    padding-bottom: 15%;
}

/*FOOTER/*/
footer {
    padding: 5%;
    color: white;
    background-color: #25a2c3;
    color: #c8e7f0;
}

#footer h2 {
    color: white;
}

hr {
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 30%;
    margin-right: 30%;
}

a:link,
a:visited {
    color: #c8e7f0;
}