<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img
        src="https://cdn.discordapp.com/attachments/1196818563139383437/1220646473310404639/logo.png?ex=660fb29d&is=65fd3d9d&hm=8a105faf9250394dba3767f92678168d041002d4eb2f67e41c02f4bd4b824058&"
        alt="logo" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="/fiat">Fiat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="/ford">Ford</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="/audi">Audi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>