<main class="container mt-4">
  <div class="row col-md-8 offset-md-2">
    <div class="row mb-4">
      <div class="col">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Audi-Logo_2016.svg/640px-Audi-Logo_2016.svg.png" alt="Logo AUDI" style="max-width: 150px;">
      </div>
      <div class="col bg-secondary">
        <h2>Le nostre auto Audi</h2>
      </div>
    </div>
  
    <div class="text-center">
      <h2>Auto in evidenza</h2>
      <div class="row">
        <div class="col-md-12 mb-4" *ngFor="let car of selectedCars">
          <div class="card">
            <img [src]="'https://www.kimballstock.com/pix/car/p/' + car.modelImage" class="card-img-top" alt="Immagine Auto">
            <div class="card-body" [ngClass]="{'available': car.available === true, 'unavailable': car.available === false}">
              <h5 class="card-title">{{car.model}}</h5>
              <p class="card-text">Anno di produzione: {{car.year}}</p>
              <p class="card-text">Prezzo di vendita: {{car.price}} €</p>
              <p class="card-text">Pronta Consegna: {{car.available ? 'si' : 'no'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </main>
